.container {
    padding-left: 10px;
    transition: margin-left .8s;
}

.active {
    margin-left: 10%;
}

.inactive {
    margin-left: 50px;
}

.cardContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
}


.image {
    width: 150px;
    height: 80px;
}

.cardSpace {
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    min-height: 250px;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.enabled:hover .card{
    border: 5px solid lightsalmon;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    height: 80%;
    margin: 10px;
    width: 100px;
    background-color: lightsalmon;
    border: none;
    border-radius: 10px;
    color : white;
}

.button:hover {
    background-color: salmon;
}

.button:active {
    opacity: 0.5;
}

.event {
    font-size: large;
    padding-bottom: 5px;
}

.separate {
    width: 150px;
}
